In [ ]:
import  pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("C:/Users/Savita Seharawat/Desktop/data sets/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
numeric = []
category = []
for col in df:
    if pd.api.types.is_numeric_dtype(df[col]):
        numeric.append(col)
    else:
        category.append(col)

In [ ]:
numeric

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [ ]:
category

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [ ]:
df.isnull().sum().sum()

866

In [ ]:
df = df.dropna()

In [ ]:
df = df.drop(["PassengerId","Name","Ticket"] , axis =1)

In [ ]:
df.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
1         1       1  female  38.0      1      0  71.2833   C85        C
3         1       1  female  35.0      1      0  53.1000  C123        S
6         0       1    male  54.0      0      0  51.8625   E46        S

In [ ]:
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [ ]:
df["Sex"] = df["Sex"].astype("category")
df["Cabin"] = df["Cabin"].astype("category")
df["Embarked"] = df["Embarked"].astype("category")

## The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

### The enumerate() function adds a counter as the key of the enumerate object.

enumerate(iterable, start)

In [ ]:
df["Sex"].cat.categories

Index(['female', 'male'], dtype='object')

In [ ]:
df["Sex"].cat.categories

Index(['female', 'male'], dtype='object')

In [ ]:
enumerate(df["Sex"].cat.categories,2)

In [ ]:
dict(enumerate(df["Sex"].cat.categories,2))

{2: 'female', 3: 'male'}

In [ ]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

In [ ]:
x = ('apple',  'cherry','banana')

In [ ]:
y = enumerate(x,1)

In [ ]:
y

In [ ]:
dict(y)

{1: 'apple', 2: 'cherry', 3: 'banana'}

In [ ]:
enumerate(df["Sex"].cat.categories)

In [ ]:
dict(enumerate(df["Sex"].cat.categories))

{0: 'female', 1: 'male'}

In [ ]:
df["Sex"].cat.categories

Index(['female', 'male'], dtype='object')

In [ ]:
df["Sex"].cat.codes

1      0
3      0
6      1
10     0
11     0
      ..
871    0
872    1
879    0
887    0
889    1
Length: 183, dtype: int8

##  Label Encoding

In [ ]:
SexDictionary = dict(enumerate(df["Sex"].cat.categories))
SexDictionary
CabinDictionary = dict(enumerate(df["Cabin"].cat.categories))
CabinDictionary
EmbarkedDictionary = dict(enumerate(df["Embarked"].cat.categories))
EmbarkedDictionary

{0: 'C', 1: 'Q', 2: 'S'}

In [ ]:
SexDictionary = dict(enumerate(df["Sex"].cat.categories))
SexDictionary

{0: 'female', 1: 'male'}

In [ ]:
df["Sex"]  = df["Sex"].cat.codes

In [ ]:
df["Sex"] .dtypes

dtype('int8')

In [ ]:
df["Sex"].unique()

array([0, 1], dtype=int8)

In [ ]:
df["Cabin"] = df["Cabin"].cat.codes

In [ ]:
df["Cabin"] .unique()

array([ 72,  48, 117, 131,  43,  99,  10,  55,  90,  18,  71, 129, 127,
       110,   9,  81,  87,  45,  31, 104,  95,  39, 128,  53,  14,  11,
        60, 130,  23,  37,   6,  92,  83,  78,  69,  91,  74,  35, 122,
        40,  50,  79,  47, 101,  26,  80,  54,  65, 113,  63,  30,  67,
       112,  57,  13,  49,  76, 115, 132, 111,  93,  19, 119,  70,  41,
       103,  62, 116,   7,  44,  46,  77, 114, 105, 121,  20,  56,  86,
        36, 109,  94,  34,  21,  22,  16,  73,  68,   1,  42,  66,   0,
       123,  24,   2,  85,  98, 102,   3,  28,   5,  96, 120,  33,  29,
        97,  27,  15, 126,  64, 108,  75,  51,  58, 125,  12,  59,  89,
       106,  82, 124,  17, 100,  38,  84,   8,  32, 118,  88, 107,   4,
        61,  25,  52], dtype=int16)

In [ ]:
df.head()

    Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin Embarked
1          1       1    0  38.0      1      0  71.2833     72        C
3          1       1    0  35.0      1      0  53.1000     48        S
6          0       1    1  54.0      0      0  51.8625    117        S
10         1       3    0   4.0      1      1  16.7000    131        S
11         1       1    0  58.0      0      0  26.5500     43        S

In [ ]:
df.dtypes

Survived       int64
Pclass         int64
Sex             int8
Age          float64
SibSp          int64
Parch          int64
Fare         float64
Cabin          int16
Embarked    category
dtype: object

In [ ]:
df["Embarked"] = df["Embarked"].cat.codes

In [ ]:
df["Embarked"] .unique()

array([0, 2, 1], dtype=int8)

In [ ]:
df.head()

    Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
1          1       1    0  38.0      1      0  71.2833     72         0
3          1       1    0  35.0      1      0  53.1000     48         2
6          0       1    1  54.0      0      0  51.8625    117         2
10         1       3    0   4.0      1      1  16.7000    131         2
11         1       1    0  58.0      0      0  26.5500     43         2

In [ ]:
dfx = df.drop("Survived", axis = 1)
dfx.head(2)

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
1       1    0  38.0      1      0  71.2833     72         0
3       1    0  35.0      1      0  53.1000     48         2

In [ ]:
dfy = df["Survived"]

In [ ]:
dfy.head(5)

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

# Normalize the data set :

##### Normalization is generally required when we are dealing with attributes on a different scale, otherwise, it may lead to a dilution in the effectiveness of an important equally important attribute
##### (on a lower scale) because of other attributes having values on a larger scale. In simple words, when multiple attributes are there but attributes have values on different scales,
##### this may lead to poor data models while performing data mining operations. So they are normalized to bring all the attributes on the same scale.

##  Min-Max Scaling:

##### Min-Max normalization: In this technique of data normalization, a linear transformation is performed on the original data.
##### The minimum and maximum value from data are fetched and each value is replaced according to the following formula.

x = (x - min)/(max - min)

In [ ]:
a = [1,2,3]
b = [11,12,13]

In [ ]:
p = ( 13 -11)/(13-11)
p

1.0

In [ ]:
a1 = [0,0.5,1]

In [ ]:
b1 = [0,0.5,1]

In [ ]:
dfx.head()

    Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
1        1    0  38.0      1      0  71.2833     72         0
3        1    0  35.0      1      0  53.1000     48         2
6        1    1  54.0      0      0  51.8625    117         2
10       3    0   4.0      1      1  16.7000    131         2
11       1    0  58.0      0      0  26.5500     43         2

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()
scaler_dfx = pd.DataFrame(scaler.fit_transform(dfx),columns = dfx.columns)
scaler_dfx.head(5)

   Pclass  Sex       Age     SibSp  Parch      Fare     Cabin  Embarked
0     0.0  0.0  0.468892  0.333333   0.00  0.139136  0.545455       0.0
1     0.0  0.0  0.430956  0.333333   0.00  0.103644  0.363636       1.0
2     0.0  1.0  0.671219  0.000000   0.00  0.101229  0.886364       1.0
3     1.0  0.0  0.038948  0.333333   0.25  0.032596  0.992424       1.0
4     0.0  0.0  0.721801  0.000000   0.00  0.051822  0.325758       1.0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
input_train,input_test,output_train,output_test = train_test_split(scaler_dfx,dfy,test_size = 0.2, random_state = 1)

In [ ]:
output_train.unique()

array([1, 0], dtype=int64)

In [ ]:
output_train.value_counts()

1    99
0    47
Name: Survived, dtype: int64

# define undersampling Strategy

#### Random Resampling Imbalanced Datasets
##### Resampling involves creating a new transformed version of the training dataset in which the selected examples have a different class distribution.

### Random Undersampling: Randomly delete examples in the majority class.

#### In the random under-sampling, the majority class instances are discarded at random until a more balanced distribution is reached.

#### Random under sampling approaches can be repeated until the desired class distribution is achieved in the training dataset, such as an equal split across the classes.

In [ ]:
! pip install imblearn # imbalanced learn

Requirement already satisfied: imblearn in c:\users\savita seharawat\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\savita seharawat\anaconda3\lib\site-packages (from imblearn) (0.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in c:\users\savita seharawat\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\savita seharawat\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\savita seharawat\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\savita seharawat\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\savita seharawat\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)

In [ ]:
from imblearn.under_sampling import RandomUnderSampler

In [ ]:
# fit and apply the transform

In [ ]:
undersampler = RandomUnderSampler( sampling_strategy = "majority",random_state = 2)

In [ ]:
input_train_under,output_train_under = undersampler.fit_resample(input_train,output_train)

In [ ]:
output_train_under.value_counts()

0    47
1    47
Name: Survived, dtype: int64

# KNN  algorithm

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
KNN = KNeighborsClassifier()
KNN

KNeighborsClassifier()

In [ ]:
Knn = KNN.fit(input_train_under,output_train_under)
Knn

KNeighborsClassifier()

In [ ]:
pred_test = Knn.predict(input_test)
pred_test

array([1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [ ]:
output_test

297    0
456    0
581    1
871    1
268    1
789    0
193    1
867    0
730    1
585    1
97     1
540    1
625    0
66     1
390    1
11     1
473    1
92     0
177    0
118    0
462    0
558    1
609    1
453    1
269    1
781    1
429    1
307    1
251    0
765    1
583    0
209    1
245    0
311    1
102    0
21     1
516    1
Name: Survived, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score_knn = round(accuracy_score(output_test,pred_test)*100,0)
accuracy_score_knn

73.0